[tool.poetry]
name = "marginaleffects"
version = "0.0.5"
description = ""
authors = ["Vincent Arel-Bundock <vincent.arel-bundock@umontreal.ca>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.9,<3.13"
pandas = "^2.0.2"
statsmodels = "^0.14.0"
numpy = "^1.25.0"
polars = "^0.18.3"
pyarrow = "^12.0.1"
scipy = ">1.10.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.0"
jupyter = "^1.0.0"
mkdocs = "^1.4.3"
mkdocs-material = "^9.1.17"
mkautodoc = "^0.2.0"
matplotlib = "^3.7.1"
black = "^23.3.0"
isort = "^5.12.0"
flake8 = "^6.0.0"
typing-extensions = "^4.7.0"
pytest-xdist = "^3.3.1"
bandit = "^1.7.5"
ruff = "^0.0.283"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
filterwarnings = [
    "ignore::DeprecationWarning",
]
