[tool.poetry]
name = "marginaleffects"
version = "0.0.7"
description = ""
authors = ["Vincent Arel-Bundock <vincent.arel-bundock@umontreal.ca>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
numpy = "^1.25.0"
patsy = ">0.5.0"
polars = ">0.20.1"
pyarrow = "^14.0.1"
scipy = "^1.10.0"
plotnine = ">0.12.3"

[tool.poetry.group.dev.dependencies]
pandas = "^2.0.2"
pytest = "^7.4.0"
matplotlib = "^3.7.1"
typing-extensions = "^4.7.0"
pytest-xdist = "^3.3.1"
ruff = ">0.0.283"
statsmodels = ">0.14.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
filterwarnings = [
    'ignore:ConvergenceWarning',
]

[tool.ruff]
ignore-init-module-imports = true
extend-ignore = ["F405", "F403"]


[tool.ruff.extend-per-file-ignores]
"__init__.py" = ["F401"]