name: Package Linting

on:
  workflow_dispatch:
  workflow_call:

jobs:
  linting-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Install dependencies
        run: |
          uv pip install .

      - name: Check
        run: |
          uv run --all-extras ruff check marginaleffects
          uv run --all-extras ruff format marginaleffects --check
